.row-fluid
  %table.table.table-striped.table-bordered

    %thead
      %tr
        %th Username

    %tbody
      - @friends.each do |friend|
        %tr
          %td= link_to friend.username, friend
