.row.col-sm-12
  %h2 Recently Viewed
  .row
    - for recent in current_user.recently_viewed(0, 24)
      - game = Game.find_by_id recent['game_id']
      .col-xs-3.col-md-2
        .thumbnail
          .caption
            %h5= recent['game_name']
            %p= pluralize game.plays.count, 'play'
            %p
              = game.avg_rating
              avg rating
            %p
              = link_to 'view', game_path(recent['game_id']), class: 'btn-sm btn-info'
