- if Rails.env.production?
  -# rails rumble voting banner
  :javascript
    var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
    rumbleBannerBackgroundColor = '#161616';
    rumbleBannerTextColor = '#b0b0b0';
    rumbleBannerLinkColor = '#ffffff';
    rumbleBannerPlacement = 'bottom'; // Optionally replace with 'bottom'.

  %script{ src: 'http://s0.railsrumble.com/banner-2014.js', type: 'text/javascript' }
