.row.col-sm-12
  %table.table.table-striped.table-bordered

    %thead
      %tr
        %th Username
        %th Total plays
        %th Unique games
        %th Friends
        %th

    %tbody= render users
