%table.table.table-striped.table-bordered

  %thead
    %tr
      %th Username
      %th.col-sm-2 Total plays
      %th.col-sm-2 Unique games
      %th.col-sm-2 Friends
      %th

  %tbody= render users
